<h2 mat-dialog-title [ngClass]="data.type">{{ data.title }}</h2>
<mat-dialog-content>
  <p [ngClass]="data.type">{{ data.message }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  @if(data.type === 'confirm') {
  <ng-container>
    <button mat-button [mat-dialog-close]="false">{{ data.cancelText || 'No' }}</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">{{ data.confirmText || 'Yes' }}</button>
  </ng-container>
  } @else {
  <ng-container>
    <button mat-button mat-dialog-close>OK</button>
  </ng-container>
  }
</mat-dialog-actions>